body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(10, 44, 77);
}
h1, h2, h3, h4, h5, h6 {
  font-size: 33px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  
}
#title_counter{
  border:1px solid #df0d0d96;
  font-size: 33px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
}

#Counter{
  font-size: 60px;
  text-align: center;
  word-spacing: 3px;
  color: rgba(251, 251, 255, 0.781);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}
h2{
  box-shadow: 2px 2px 2px #550202fa;
  background-color: rgba(58, 54, 54, 0.745);
  color: #ffffffe0;
}
.MainLayout{
    display: flex;
}
.count_container{
  border-radius: 10px;
  background-color: rgba(58, 54, 54, 0.745);
  padding: 15px;
  border:1px solid #550202fa;
  box-shadow: 2px 2px 2px #550202fa;
  margin-bottom: 25px !important;
}

.option_container{
  border-radius: 5px;
  background-color: rgba(58, 54, 54, 0.745);
  padding: 15px;
  border:1px solid #550202fa;
  box-shadow: 2px 2px 2px #550202fa;
  margin-bottom: 25px !important;
  height:100%
}
.side_container {
    margin: 10px;
    padding: 15px;
    position: relative;
    margin-bottom: 25px !important;
}
#datepicker-input{
    display: flex;
    margin-block: 5px;
}

.inputControl{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

#map_day {
  margin-top: 100px;
}
.main_container {
    border-radius: 5px;
    background-color: hsla(0, 4%, 22%, 0.745);
    margin: 10px;
    padding: 15px;
    position: relative;
    border:1px solid rgba(85, 2, 2, 0.98);
    box-shadow: 2px 2px 2px #550202fa;
    height:100%
}
#radioitems-input{
    display: flex;
    justify-content: space-between;
    color: #ffffffe0;
    flex-direction: row;
    margin-block: 5px;

}
#radioitems-input:hover{
  background-color:#550202fa;
}
#right-column {
    display: flex;
    flex-direction: column;
  }
.container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }

#Tabs_style {
  font-size: 100px;
}